body {
  background-color: rgba(159, 87, 201, 0.486);
  padding: 0px;
}

.title {
  width: auto;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin: 0px, 0px, 0px, 32px;
  padding: 8px;
}

.card {
  margin: auto;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 16px;
  height: 274px;
  width: 200px;
  text-align: center;
  position: relative;
  padding: 16px;
  padding-top: 84px;
  font-size: 4em;
}

.card:before {
  left: 16px;
  top: 16px;
  position: absolute;
}
.card:after {
  right: 16px;
  bottom: 16px;
  position: absolute;
}
.card.clubs:before,
.card.clubs:after {
  content: "\2663";
}
.card.spades:before,
.card.spades:after {
  content: "\2660";
}
.card.diamonds:before,
.card.diamonds:after {
  color: red;
  content: "\2666";
}
.card.hearts:before,
.card.hearts:after {
  color: red;
  content: "\2665";
}
button {
  display: flex;
  margin: auto;
  margin-top: 24px;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  font-size: 24px;
  color: purple;
}
.number {
  font-size: 180px;
}

.countdown {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  border-style: solid;
  border-color: white;
}
